*~
*.o
*.bin
ChangeLog
Makefile.in
Makefile
aclocal.m4
autom4te.cache/*
config.log
config.status
configure
frc-team-3341-aimer
src/stamp-h1
src/.deps/*
src/config.h
src/config.h.in
config.guess
config.sub
libtool
ltmain.sh
src/frc-team-3341-targeting
build-aux/libtool.m4
build-aux/ltoptions.m4
build-aux/ltsugar.m4
build-aux/ltversion.m4
build-aux/lt~obsolete.m4
